*
!.gitignore
!hypr/
!hypr/*

!awesome/
!awesome/*

!scripts/
!scripts/*

!kitty/
!kitty/*

!nvim/
!nvim/*
!nvim/lua/*
!nvim/lua/config/*
!nvim/lua/plugins/*

!tmux/
!tmux/*

!waybar/
!waybar/*

!mako/
!mako/*

!misc/
!misc/*
